@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {

    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    font-size: 14px;
}



header {

    width: 100vw;
    height: 300px;
    background: grey;
    padding: 20px 0;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL'0,
        'wght'200,
        'GRAD'0,
        'opsz'48
}

h1{

    font-size: 25px;
    color: black;
}

p{

    font-size: 15px;
    color: rgb(67, 67, 67);

}

.caixa {
    position: relative;
    width: 90vw;
    margin: 0 auto;
}

.btnHome {

    border: 1px solid transparent;

    padding: 20px;
    border-radius: 10px;
    font-weight: 900;
    font-size: large;
    background: rgba(92, 92, 92, 0.719);
    color: #d8d8da;
    transition: background .3s;
}

.btnHome:hover {


    border: 1px solid transparent;
    background: #d8d8da;
    color: grey;



}

nav {

    position: absolute;
    top: 140px;
    right: 0px;

}

nav li {

    display: inline;
    margin: 0 0 0 15px;

}

li a {

    text-decoration: none;
    text-transform: uppercase;
    color: #333399;
    font-weight: bold;
    font-size: large;
}

li a:hover {

    text-decoration: underline;
    color: orange;
}


#logo {

    width: 300px;
}

main{

    margin-left: 40px;
    width: 30vw;
    margin: 0px auto;
}
.icon{

position: absolute;

}
.input{
display: flex;
margin-left: 30px;
border: none;
margin-top: 10px;
padding: 7px 15vw 7px 3vw;
border-radius: 50px;
outline: none;
transition: .2s;
}
.input:focus-within{


    background: black;
    color: aliceblue;
}

.secondary-content{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary-content a{

text-decoration: none;
color: #35339a;
}

.secondary-content a:hover{

    content: "";
text-decoration: underline;

}

.submit{

    position: relative;
    width: 100%;
    border-style: solid;
    padding: 1vw;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 6px;
    transition: .5s;
}

.submit:hover{


    background-color: grey;
    color:black;
    cursor: pointer;

}

footer {
    text-align: center;
    width: 100vw;
    height: 50vh;
    background: url(../Images/bg.jpg);
    padding: 40px 0;

}

footer p3 {

    font-size: 14px;
    font-weight: 10;
    color: rgb(213, 213, 213);
}

.test{


    width: 10px;
}

/* --------------------PARTE PRA FAZER FUNCIONAR EM CELL--------------------------- */

@media screen and (max-width: 450px) {
    header, main, footer {
        width: auto;
    }
}

@media screen and (max-width: 450px) {
    #logo {
        width: 80%;
    }
}





/* --------------------PARTE PRA FAZER FUNCIONAR EM CELL--------------------------- */