@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {

    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

header {

    width: 100vw;
    height: 300px;
    background: grey;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 90vw;
    margin: 0 auto;
}

.btnHome {

    border: 1px solid transparent;

    padding: 20px;
    border-radius: 10px;
    font-weight: 900;
    font-size: large;
    background: rgba(92, 92, 92, 0.719);
    color: #d8d8da;
    transition: background .3s;
}

.btnHome:hover {


    border: 1px solid transparent;
    background: #d8d8da;
    color: grey;



}

nav {

    position: absolute;
    top: 140px;
    right: 0px;

}

nav li {

    display: inline;
    margin: 0 0 0 15px;

}

li a {

    text-decoration: none;
    text-transform: uppercase;
    color: #333399;
    font-weight: bold;
    font-size: large;
}

li a:hover {

    text-decoration: underline;
    color: orange;
}


#logo {

    width: 300px;
}

/* ------------------------------AQUI Ó--------------------------------- */

#imagemHome {

    width: 100vw;

}

.about {

    text-align: center;
    width: 80vw;
    margin: 20px auto;



}

h1 {

    font-size: 35px;
    color: black;

}

.text-about p1{

    font-size: 22px;


}
.text-about p2{

    font-size: 18px;

}
strong{

    background: rgb(78, 78, 78);
    border-radius: 5px;
    color: #d8d8da;
}


/* ------------------------------AQUI Ó--------------------------------- */


footer {
    text-align: center;
    width: 100vw;
    height: 50vh;
    background: url(../Images/bg.jpg);
    padding: 40px 0;

}

footer p3 {

    font-size: 14px;
    font-weight: 10;
    color: rgb(213, 213, 213);
}