@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {

    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    width: 100vw;
}

header {

    width: 100vw;
    height: 300px;
    background: grey;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 90vw;
    margin: 0 auto;
}

.btnHome {

    border: 1px solid transparent;

    padding: 20px;
    border-radius: 10px;
    font-weight: 900;
    font-size: large;
    background: rgba(92, 92, 92, 0.719);
    color: #d8d8da;
    transition: background .3s;
}

.btnHome:hover {


    border: 1px solid transparent;
    background: #d8d8da;
    color: grey;



}

nav {

    position: absolute;
    top: 140px;
    right: 0px;

}

nav li {

    display: inline;
    margin: 0 0 0 15px;

}

li a {

    text-decoration: none;
    text-transform: uppercase;
    color: #333399;
    font-weight: bold;
    font-size: large;
}

li a:hover {

    text-decoration: underline;
    color: orange;
}


#logo {

    width: 300px;
}

/* ------------------------------AQUI Ó--------------------------------- */

#imagemHome {

    width: 100vw;
}

.container-about {
    background-color: whitesmoke;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.about {

    text-align: center;
    width: 80vw;
    padding: 20px auto;
    background: whitesmoke;
    margin: 0 auto;


}

h1 {

    font-size: 35px;
    color: black;

}

.text-about p1 {

    font-size: 22px;


}

.text-about p2 {

    font-size: 18px;

}

strong {

    background: rgb(78, 78, 78);
    border-radius: 5px;
    color: #d8d8da;
}

.localizacao {
    position: relative;
    background: linear-gradient(to bottom, whitesmoke, grey);
    width: 100vw;
    text-align: center;
    align-items: center;

}

.localizacao h1 {

    padding: 20px 0;
}

.localizacao p {

    margin: 20px 0;
}

#mapa {

    margin: 20px 0;
    width: 90vw;
    height: 400px;
}

.beneficios {

    background: grey;
    text-align: center;
    align-items: center;
    inline-size: 100%;
    /* border: 3px solid black; */
}

.beneficios h1 {

    padding: 20px 0;
}

.beneficios ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    /* border: 3px solid black; */
    padding: 40px 10px;
    list-style-type: disc;

}

.lista {
    vertical-align: middle;
    display: inline-block;
}

.imagem-lista {

    vertical-align: middle;
    display: inline-block;
}

.video {

    background: grey;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}



/* ------------------------------AQUI Ó--------------------------------- */


footer {
    text-align: center;
    width: 100vw;
    height: 50vh;
    background: url(../Images/bg.jpg);
    padding: 40px 0;

}

footer p3 {

    font-size: 14px;
    font-weight: 10;
    color: rgb(213, 213, 213);
}

#video1{

    width: 50vw;
    height: 30vw;
}
.lock{
width: 100vw;
}

/* --------------------PARTE PRA FAZER FUNCIONAR EM CELL--------------------------- */

@media screen and (max-width: 450px) {
    header, .imagemHome, .container-about, .localizacao, .mapa, .beneficios, .video, #lock {
        width: auto;
    }
}

@media screen and (max-width: 450px) {
    #logo {
        width: 80%;
    }
}
@media screen and (max-width: 450px) {
    .localizacao h1{
        font-size: 25px;
    }
}
@media screen and (max-width: 250px) {
    .localizacao h1{
        font-size: 20px;
    }
}




/* --------------------PARTE PRA FAZER FUNCIONAR EM CELL--------------------------- */