* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    color: #5c6873;
    font-family: "Robo  to Condensed", sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-weight: 300;
    font-size: 17px;

}

.Home {

    width: 100vw;
    height: 17vh;
    background: rgb(79, 74, 74);
    overflow: hidden;
    display: inline-block;
    position: fixed;

}

.Bloa {
    margin-left: 3vw;
    height: 17vh;
    width: 17vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.Logo {
    padding-top: 2vh;
    height: 14vh;
    overflow: hidden;

}

.TituloLoja {

    width: 10022222vw;
    height: 17vh;
    background-color: rgb(109, 102, 102);
    position: relative;
    margin-left: 25vh;

}

.EstiloTit {
    overflow: hidden;
    text-align: center;
    margin-left: 3vw;
    margin-top: 3vh;
    width: 75vw;
    height: 12vh;
    font-size: 9vh;
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    color: rgb(79, 74, 74);
}

.Sobre {

    width: 100vw;
    height: 40vh;
    margin-top: 111px;

}

.SobreTit {

    text-align: center;
    margin-top: 10vh;
    font-size: 2vw;
    margin-left: 30vw;
    margin-right: 30vw;
    color: black;
    background-color: rgb(228, 222, 222);
    border-radius: 100px;

}

.espSob {

    overflow: hidden;
    text-align: center;
    margin-top: 7vh;
    font-size: 2vw;
    margin-left: 30vw;
    margin-right: 20vw;
    padding: 1vw;
    color: black;
    background: rgb(216, 216, 206);
    width: 40vw;
    height: 15vh;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px BLACK;
}

.espaça {

    margin-top: 10px;
    margin-left: 10vw;
    width: 80vw;
    height: 1px;
    background: rgb(209, 174, 174);

}

.produtos {

    width: 85vw;
    height: 60vh;
    background: local;
    background: grey;
    margin: 10vw;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 7vw;

}


.produto123 {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 80%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
}


.produto123:hover{
    
    width: 30%;
    height: 90%;
    box-shadow: 10px 1px -11px 1px black;

}


#produto1 {

    margin-left: 5vw;
    margin-top: 5vh;

}

#produto2 {

    margin-left: 38%;
    margin-top: -48vh;

}

#produto3 {

    margin-left: 69%;
    margin-top: -48vh;

}

.armas {
    width: 80%;
    height: 30%;
    margin-top: 1vh;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    border-color: grey;
}



.precos {
    height: 23%;
    width: 15%;
    background: rgb(255, 255, 255);
    position: absolute;
    margin-top: 230px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    justify-content: center;
    overflow: hidden;

}

.h1 {
    font-size: 150%;
    color: black;

}

.p1 {
    position: absolute;
    font-size: 100%;
    color: black;
    right: 10px;

}

.p2 {
    position: absolute;
    font-size: 70%;
    color: rgb(46, 44, 44);
    right: 10px;

}

.btn {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 5vw;
    width: 13vw;
    margin: 10px;
    overflow: hidden;
    
}


/*#fundo {

    width: 100vw;
    height: 40vh;
    background-color: rgb(35, 34, 34);
}   AINDA NÂO UTILIZADA */ 

