* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    color: #5c6873;
    font-family: "Robo  to Condensed", sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-weight: 300;
    font-size: 17px;
    
}   

.Home {

    width: 100vw;
    height: 17vh;
    background: rgb(79, 74, 74);
    overflow: hidden;
    display: inline-block;

}

.Bloa {
    margin-left: 3vw;
    height: 17vh;
    width: 17vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.Logo {
    padding-top: 2vh;
    height: 14vh;
    overflow: hidden;

}
.TituloLoja{

    width: 10022222vw;
    height: 17vh;
    background-color: rgb(109, 102, 102);
    position: relative;
    margin-left: 25vh;

}
.EstiloTit{
    overflow: hidden;
    text-align: center;
    margin-left: 3vw;
    margin-top: 3vh;
    width: 75vw;
    height: 12vh;
    font-size: 9vh;
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    color: rgb(79, 74, 74);
}
.Sobre{

    width: 100vw;
    height: 40vh;

}

.SobreTit{

    text-align: center;
    margin-top: 7vh;
    font-size: 2vw;
    margin-left: 30vw;
    margin-right: 30vw;
    color: black;
    background-color: rgb(228, 222, 222);
    border-radius: 100px;

}
.espSob{

    overflow: hidden;
    text-align: center;
    margin-top: 7vh;
    font-size: 2vw;
    margin-left: 30vw;
    margin-right: 20vw;

    color: black;
    background: rgb(216, 216, 206);
    width: 40vw;
    height: 15vh;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px BLACK;
}
.espaça{

    margin-top: 10px;
    margin-left: 10vw;
    width: 80vw;
    height: 1px;
    background: rgb(209, 174, 174);

}

.produtos{

width: 85vw;
height: 60vh;
background: local;
background: grey;
margin: 10vw;
border-radius: 15px;
overflow: hidden;
margin-left: 7vw;

}

.produto123{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 80%;
    background: rgb(80, 80, 80);
    border-radius: 15px;
}
#produto1{

    margin-left: 5vw;
    margin-top: 5vh;

}

#produto2{
    
    margin-left: 40%;
    margin-top: -48vh;

}

#produto3{

    margin-left: 75%;
    margin-top: -48vh;

}

.armas{
    width: 80%;
    height: 30%;
    margin-top: 1vh;
    background: white;
    border-radius: 10px;
    border-style: solid;
    border-width:10px;
    border-color:white ;
}



#preco1{

width: 80%;

/* NÂO ESQUECER DE POR A "DIV" EM BAIXO */

}
#preco2{



}
#preco3{



}